@import "common";
@import "category";
@import "list";
@import "detail";
@import "dialog";
@import "reset.less";
@import "dialog";
@import "font/iconfont.less";

html {
    height: 100%;
    overflow: auto;
}

body{
    position: relative;
    height: 100%;
}

header {
    height: 60px;
    color: #ffffff;
    font-size: 24px;
    line-height: 60px;
    text-indent: 2em;
    background: url(img/header-bg.jpg) repeat-x #0089A5;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

aside {
    top: 62px;
}

aside.category, aside.list, article {
    position: absolute;
    bottom: 0;
    overflow-x: hidden;
}

